.blog-add {
  background-color: var(--mainColor);
  height: auto;
  max-width: 100%;
}
.blog-form {
  height: 340px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
input {
  padding: 10px;
  border-radius: 10px;
  outline-style: none;
  border: none;
}
button {

  border: none;
  height: 50px;
  color: var(--white);
  border-radius: 20px;
  background-color: green;
}
label {
  font-size: 14px;
}
.t-img{
  width: 100px;
  height: 100px;
object-fit: cover;
}